<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    * { font-family: Poppins, system-ui; padding: 0px; margin: 0px; color: black; }
    .btn { 
      background-color: #5bc0de; 
      font-weight: bold;
      font-size: 16px; /* Tamaño del texto aumentado */
    }
    .container { width: 50%; }
    .content { max-width: 600px; margin: 0 auto; }
    .card { border-radius: 10px; background-color: white; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); text-align: center; padding: 40px 30px; }
    .card h1 { font-weight: bold; }
    .card img { margin-top: 30px; width: 150px; height: 150px; }
    .card h2 { margin: 30px 0; }
    .card p { margin-bottom: 10px; text-align: justify; }
  </style>
</head>
<body style="margin: 0; padding: 0;">
  <table class="container" cellspacing="0" cellpadding="0" style="width: 100%; max-width: 600px; margin: 0 auto;">
    <tr>
      <td class="content">
        <div class="card">
          <h1><strong>¡Gracias por su reciente compra de nuestro sistema de punto de venta (POS) y la Membresía Asociada!</strong></h1>
          <img src="https://www.mbankcard.com/wp-content/uploads/2018/02/modern-pos-systems.jpg" class="my-3" alt="Email image">
          <p>Estamos encantados de confirmar que su compra ha sido procesada con éxito. Con esta compra, ahora tiene acceso completo a todas las funciones y beneficios de nuestro sistema POS, así como a los servicios exclusivos incluidos en su membresía.</p>
          <p>Detalles de la compra:</p>
          <p><strong>Sistema de Punto de Venta (POS):</strong> POINTSALE</p>
          <p><strong>Membresia:</strong> {{membresia}}</p>
          <p>Junto con esta confirmación, también le proporcionamos su información de inicio de sesión:</p>
          <p><strong>Correo Electronico:</strong> {{email}}</p>
          <p><strong>Contraseña Generada:</strong> {{contraseña}}</p>
          <p>Por favor, guarde esta información de inicio de sesión en un lugar seguro. Una vez más, si necesita asistencia para comenzar a utilizar el sistema, no dude en ponerse en contacto con nuestro equipo de atención al cliente.</p>
          <p>Su inversión nos permite seguir mejorando nuestro sistema y ofrecerle un servicio excepcional a usted y a todos nuestros clientes.</p>
          <p>Una vez más, gracias por confiar en nosotros para satisfacer sus necesidades de punto de venta y membresía. Esperamos que disfrute utilizando nuestro sistema y que le resulte útil en su negocio.</p>
          <a class="btn mt-3" href="{{url}}" style="display: inline-block; padding: 15px 25px; border-radius: 5px; color: white; text-decoration: none; background-color: #5DADE2 ;">Ir al Sistema</a>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
