<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    * { font-family: Poppins, system-ui; padding: 0px; margin: 0px; color: black; }
    .btn { 
      background-color: #5bc0de; 
      font-weight: bold;
      font-size: 16px; /* Tamaño del texto aumentado */
    }
    .container { width: 50%; }
    .content { max-width: 600px; margin: 0 auto; }
    .card { border-radius: 10px; background-color: white; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); text-align: center; padding: 40px 30px; }
    .card h1 { font-weight: bold; }
    .card img { margin-top: 30px; width: 150px; height: 150px; }
    .card h2 { margin: 30px 0; }
    .card p { margin-bottom: 10px; text-align: justify; }
  </style>
</head>
<body style="margin: 0; padding: 0;">
  <table class="container" cellspacing="0" cellpadding="0" style="width: 100%; max-width: 600px; margin: 0 auto;">
    <tr>
      <td class="content">
        <div class="card">
          <h1><strong>Invitacion al Equipo de "{{name_empresa}}"</strong></h1>
          <img src="https://media.istockphoto.com/id/1440750576/es/vector/sobre-con-el-s%C3%ADmbolo-del-icono-del-plano-de-papel-enviar-notificaci%C3%B3n-por-correo-telegrama.jpg?s=612x612&w=0&k=20&c=izpWLy2w0FJsjS1DmMw0693V92kK4C4dHe5qUB7TJ2E=" class="my-3" alt="Email image">
          <h2 class="my-3">Hi {{name}},</h2>
          <p>¡Es un placer invitarlo y darle la bienvenida a nuestro equipo {{name_empresa}}!</p>
          <p>Nos complace informarle que su cuenta ha sido creada con éxito en nuestro sistema y estamos emocionados de tenerlo a bordo. Como nuevo usuario, ahora tiene acceso completo a todas las funciones y características que ofrece nuestro sistema POS.</p>
          <a class="btn mt-3" href="{{url}}" style="display: inline-block; padding: 15px 25px; border-radius: 5px; color: white; text-decoration: none; background-color: #5DADE2 ;">Ver Invitacion</a>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
